/* General Style */

body {
    background-color: black;
    
}

* {
    font-family: Verdana;
    text-align: center;
}

/* Main */
main {
    display: grid;
}


h1 {
    
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download {
    font-size: 16px;
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white
}

#about p {
    font-size: 21px;
    color: gray;
}

.image {
    margin-top: 30px;
}



footer p{
    text-align: right;
    color: gray;
    margin-right: 15px;

}

/* Footer */